<?xml version="1.0" encoding="utf-8"?>

<!-- Transformaciones para entorno de producción -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TareasNetMs.Tenant" value="MS" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="LABTRACConnectionString" connectionString="Data Source=PROD-SQL;Initial Catalog=LABTRAC;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TareasNetMsConnectionString" connectionString="Data Source=PROD-SQL;Initial Catalog=TareasNetMs;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <httpCookies requireSSL="true" httpOnlyCookies="true" sameSite="Lax" xdt:Transform="InsertIfMissing" />
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="SAMEORIGIN" xdt:Transform="InsertIfMissing" />
        <add name="X-XSS-Protection" value="0" xdt:Transform="InsertIfMissing" />
        <add name="Strict-Transport-Security" value="max-age=31536000; includeSubDomains" xdt:Transform="InsertIfMissing" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
</configuration>