<?xml version="1.0" encoding="utf-8"?>

<!-- Transformaciones para entorno de desarrollo -->
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <appSettings>
    <add key="TareasNetMs.Tenant" value="MS-DEV" xdt:Transform="SetAttributes" xdt:Locator="Match(key)" />
  </appSettings>
  <connectionStrings>
    <add name="LABTRACConnectionString" connectionString="Data Source=DEV-SQL;Initial Catalog=LABTRAC;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
    <add name="TareasNetMsConnectionString" connectionString="Data Source=DEV-SQL;Initial Catalog=TareasNetMs;Integrated Security=True" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" xdt:Transform="SetAttributes(debug)" />
  </system.web>
</configuration>